{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- styles block-->
    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}
<!-- end of styles -->
    {% block content %}
    <div class="jumbotron">
    <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">GENERAL</a></li>
            <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
            <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
          </ul>
          
          <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                    <!--general news section-->
                    <h3>GENERAL</h3>
                    <ul>
                    {{ macro.displayNewsList(general) }}
                    </ul>
            </div>
            <div id="menu1" class="tab-pane fade in active">
              <h3>Menu 1</h3>
              <p>Some content in menu 1.</p>
            </div>
            <div id="menu2" class="tab-pane fade">
              <h3>Menu 2</h3>
              <p>Some content in menu 2.</p>
            </div>
          </div>

    </div>



    <!--general news section-->
    <h3>GENERAL</h3>
    <ul>
       {{ macro.displayNewsList(general) }}
    </ul>
    {% endblock %}