{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- styles block-->
    {% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    {% endblock %}
<!-- end of styles -->
    {% block content %}
    <div class="jumbotron">
    <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#general">GENERAL</a></li>
            <li><a data-toggle="tab" href="#sports">SPORTS</a></li>
            <li><a data-toggle="tab" href="#technology">TECHNOLOGY</a></li>
            <li><a data-toggle="tab" href="#entertainment">ENTERTAINMENT</a></li>
          </ul>
          <div class="tab-content">
            <div id="general" class="tab-pane fade in active">
                <!--general news section-->
                {{ macro.displayNewsList(general) }}
            </div>
            <div id="sports" class="tab-pane fade">
                <!-- Sports news sources-->
                {{ macro.displayNewsList(sports) }}
            </div>
            <div id="technology" class="tab-pane fade">
                <!-- Technology news sources -->
                {{ macro.displayNewsList(technology) }}
            </div>
            <div id="entertainment" class="tab-pane fade">
                <!-- Entertainment news sources -->
                {{ macro.displayNewsList(entertainment) }}
            </div>
          </div>

    </div>
    {% endblock %}